## Intellij
.idea/
*.iml
out
gen

## Mac
.DS_Store

## Maven
log/
logs/
target/

## Eclipse
lib
WebContent/WEB-INF/lib/
#eclipse默认编译路径是build/，有时改成WebContent/WEB-INF/classes/，这里直接过滤class文件
*.class
.settings/
.classpath
.project
.metadata
